
.main {
  background-color: gray;
  }

.topbox {
  background-color: gray;
  }

.labelcolors {
  background-color: gray;
  }

.entrycolors {
  border-color: gray;
  border-width: 1px;
  background-color: black;
  }

.entrycolors:focus {
  border-color: white;
  }

.evenspace {
  color: white;
  font-family: m5x7;
  font-size: 32px;
  border-radius: 0px;
  min-width: 16px;
  min-height: 32px;}


.bottombutton {
  background-color: gray;
  border-color: gray;
  border-image: none;
  border-style: solid;
  border-width: 2px;
  outline-width: 0px;
  box-shadow: 0 0 0 0px;
  box-shadow: none;
  background-image: none;
  text-shadow: none;
  }


.bottombutton:hover {
  background-color: #666666;
  }

.bottombutton:active {
  background-color: black;
  border-color: gray;
  border-image: none;
  border-style: solid;
  border-width: 2px;
  outline-width: 0px;
  box-shadow: 0 0 0 0px;
  box-shadow: none;
  background-image: none;
  text-shadow: 1px 1px #ffffff;
  }

